*{
	margin: 0;
}
body{
	height: 100%;


}
html {
	scroll-behavior: smooth;
}

.wrapper1 {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 10% 50% 15% 35%;
	position: absolute;
	width: 100%;
	height: 100%;
	grid-row-gap: 3%;

}
.wrapper2 {
	width: 100%;
	height: 100%;
	position: absolute;
	
}
.box-about {

	height: 100%;
	width: 100%;
	margin-top: ;
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	display: inline-flex;
	
	
}
.navbar {
	height: 10%;
	width: 100%;
	background-color: hsla(206, 100%, 30%, 1);
}
.box1{
	padding-top: 90px;
	width: 100%;
	height: 100%;
	text-align: center;
	
}
.box1-1 {
	width: 50%;
	height: 100%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: left;
}
.box2{
	padding-top: 90px;
	width: 100%;
	height: 100%;
	text-align: center;


}
.index-navbar {
	background-color: hsla(206, 100%, 30%, 1);
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	height: 100%;
}
#comment {
	background-color: rgba(192,192,150,0.3);
	width: 100%;
	height: 100%;
	text-align: center;
	
	}
#phone {
	background-color: rgba(192,192,150,0.3);
	padding-top: 5%;
	width: 100%;
	height: 100%;
	text-align: center;
	
}
#email {
	padding-top: 5%;
	width: 100%;
	height: 100%;
	background-color: rgba(192,192,150,0.3);
}
.box-login {
	grid-row-start: 2;
	margin-left: 30%;
	height: 97%;
	width: 70%;
	background-image: url("../images/background.jpg");
	background-size: cover;
	opacity: .9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-logo {
	text-align: center;
	margin-top: 40px;
	border-radius: 70%;
	margin-left: 99px;
	margin-right: 99px;

}
.login-logo-size {
	width: 100px;
	height: 100px;
}
.box-slide {
	grid-row-start: 2;
	grid-row-end: 4;
	width: 90%;
	height: 100%;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.img {
	width: 100%;
	height: 100%;
	
}
.box-track {
	background-image: url("../images/tracking-background.jpg");
	background-size: cover;
	grid-row-start: 3;
	height: 84%;
	width: 70%;
	margin-left: 30%;
	text-align: center;
	padding-top: 15%;
	margin-top: -10%;
	padding-bottom: -5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.track-textbox {
	height: 29px;
	border: none;
	margin-right: -20px;

}

.fading{animation:fading 10s infinite}
.left{animation: :animateleft 0.4s}
.right{animation:animateright 0.4s}

nav{
	float: right;	
	margin-right: 40px;
	margin-top: 35px;
}
a{
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	color: white;
}

li{
	display: inline;
}
.navbarlink:hover {
	text-decoration: underline;
	color: #00fbff;
}
a:hover {
	color: red;
}
.forgot {
	text-decoration: underline;
	color: blue;
	font-family: "Times New Roman", Times, serif;
}
input {
	margin-left: 20px;
	}
button {
	
	border-radius: 2px;
	cursor: pointer;
	border: none;
	padding: 14px 20px;
}
.btn1 {
	background-color: lime;
	opacity: .8;

}
.btn2{
	margin-left: 70px;
	margin-top: 10px;
	margin-right:-70px;
}
.btn3 {
	width: 25%;
}
.contactbtn:hover, .btn1:hover, .cnl:hover, .about:hover .overlay{
	opacity: 1;
}

.cnl{
	background-color: red;
	margin-left: 5px;
	opacity: .8;
}
.login-text-box {
	padding: 10px;
	text-align: center;
	
}
.login-text-box:focus {
	border: 1px solid dodgerblue;
}

.login-textbox {

	margin-left: -4px;
	min-height: 35px;
	margin-top: 5px;

	}
.sign-textbox {

	margin-left: -4px;
	min-height: 33px;
	margin-top: 5px;

	}
[type="submit"],
button {
     border: none;
     border-radius: 0
 }

 
 .btn {
     padding: 0 20px;
     line-height: 32px;
     background: #286090;
     color: #fff;
     cursor:pointer;
 }

 .btn:hover {
     color: #fff;
     background-color: #FF8C00;
     
 }
 .about {
 	margin: 2%;
 	position: relative;
 	width: 33.33%;
 }

 
.overlay {
	position: absolute;
 	top: 0;
 	bottom: 0;
 	left: 0;
	right: 0;
	height: 100%;
 	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}
.text {
	position: absolute;
	text-align: center;
  	color: white;
	font-size: 20px;
 	top: 50%;
 	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
  
 }
.aboutimg {
	width: 100%;
	height: 100%;
}



.icon {
  background: dodgerblue;
  color: white;
  padding: 10px;
  min-width: 20px;
  min-height: 19px;

}
.down {
	margin-top: 100px;
}
span.psw {
 
}
.contactform {
	margin-top: 5%;
	margin-right: 30%;
	margin-left: 30%;
	padding: 10%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-textbox {
	padding: 10px;
	width: 50%;
	margin: 5px;
	border-radius: 5px;
	border-style: none;
	font-family: "Times New Roman", Times, serif; 
}
.contact-comment {
	border-style: none;
	padding: 10px;
	border-radius: 5px;
	height: 20%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50%;
	font-family: "Times New Roman", Times, serif;

}
.contactbtn {
	padding: 10px;
	width: 20%;
	background-color: dodgerblue;
	opacity: .8;
	border-radius: 5px;

}
.fieldset {
	
	height: 70%;
	margin-left: 20%;
	margin-right: 20%;

}
.emailpicture{
	border-radius: 50%;
	margin-top: 20%;
}
.block {
	display: block;
	margin: 15px;
	position: fixed;
	z-index: 1;

}
.fixed {
	margin-top: 10%;
	}
.fixed2 {
	margin-top: 17%
}
.fixed3 {
	margin-top: 24%;
}

.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

h1.b {
	font-size: 40px;

	
}
p.b {
	font-size: 30px;

}

.is-visible {
  transform: none;
}

.is-visible {
  transform: translate(-50%, -50%);
}
.is-visible {
  opacity: 1;
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
  
  
}
.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
  opacity .3s .25s ease-out;
  max-width: 600px;
  width: 20%;
  will-change: transform, opacity;
}

.position {
	height: 150px;
	width: 150px;
	right: 5%;
	top: 20%;
	position: fixed;
	

}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  padding: 10%;

}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
 }
 .login-container {
 	text-align: center;
 }